[submodule "DockerSetup/cuZK"]
	path = DockerSetup/cuZK
	url = https://github.com/speakspeak/cuZK.git
[submodule "pallas_vesta/pasta-msm"]
	path = pallas_vesta/pasta-msm
	url = https://github.com/supranational/pasta-msm.git
